{% extends 'base.html' %} 

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About Uniclef</h1>
          <p class="lead">Discover the Story of Uniclef!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Unlock Your Musical Potential</h2>
          <p class="lead">Join Uniclef for an Inspirational Music Journey</p>
          <img src="{% static 'img/about.jpg' %}" alt="">
          <p class="mt-4">At Uniclef, we are passionate about music education. Our mission is to help you explore 
            and develop your musical talents. With dedicated instructors, a supportive community, and top-quality 
            resources, we offer a comprehensive platform to elevate your music skills. Whether you're a beginner 
            or an experienced musician, Uniclef has something for you. Let's embark on this harmonious journey 
            together!</p>
        </div>
        <div class="col-md-4">
          {% if mvp_instructors %}
            {% for instructor in mvp_instructors %}
            <div class="card">
                <img class="card-img-top" src="{{ instructor.photo.url }}" alt="Instructor of the month">
                <div class="card-body">
                  <h5 class="card-title">Instructor Of The Month</h5>
                  <h6 class="text-secondary">{{ instructor.name }}</h6>
                  <p class="card-text">{{ instructor.description }}
                  </p>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We're Dedicated to Your Musical Journey</h2>
    <h4>Explore Our Featured Courses and Unleash Your Creativity!</h4>
    <hr>
    <a href="{% url 'courses' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Courses</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Meet Our Team</h2>
      <div class="row text-center">
        {% if instructors %}
          {% for instructor in instructors %}
          <div class="col-md-4">
              <img src="{{ instructor.photo.url }}" alt="" class="rounded-circle mb-3">
              <h4>{{ instructor.name }}</h4>
              <p class="text-success">
                <i class="fas fa-award text-success mb-3"></i> Instructor</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i> {{ instructor.phone_number }}</p>
              <p>
                <i class="fas fa-envelope-open"></i> {{ instructor.email }}</p>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No instructors Available</p>
          </div>
        {% endif %}       
      </div>
    </div>
  </section>
{% endblock %}