{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Becoming A Musician Just Got So Easy
          </h1>
          <p class="lead">Find music courses across different categorys, fields, and applications. Learn from experts in the field,
            create and express yourself like you never have before!
          </p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Guitar, Piano, etc)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Duration</label>
                  <input type="text" name="duration" class="form-control" placeholder="duration">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Difficulty</label>
                  <select name="difficulty" class="form-control">
                    <option selected="true" disabled="disabled">Difficulty (All)</option>
                    {% for key,value in difficulty_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">categories</label>
                  <select name="categories" class="form-control">
                    <option selected="true" disabled="disabled">Categories (All)</option>
                    {% for key,value in category_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- courses -->
  <section id="courses" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Courses</h3>
      <div class="row">
        {% if courses %}
          {% for course in courses %}
            <!-- course 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card course-preview">
                <img class="card-img-top" src="{{ course.photo_main.url }}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">${{ course.price | intcomma }}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="course-heading text-center">
                    <h4 class="text-primary">{{ course.title }}</h4>
                    <p>
                      <i class="fas fa-info text-secondary"></i> {{ course.difficulty }} {{ course.duration }} Weeks {{ course.category }}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-tasks"></i> Categories: {{ course.category }}</div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-user"></i> {{ course.instructor }}</div>
                  </div>
                  <div class="row text-secondary pb-2">
                    <div class="col-6">
                      <i class="fas fa-clock"></i> {{ course.release_date | timesince }}</div>
                  </div>
                  <hr>
                  <a href="{% url 'course' course.id %}" class="btn btn-primary btn-block">More Info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Courses Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Expert Advice</h3>
          <p>Our instructors are experts in the music field. They have composed some of the most renowned 
            melodies and worked with top artists in the industry. With years of experience, their guidance 
            will help you reach new heights in your musical journey!</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-certificate fa-4x mr-4"></i>
          <hr>
          <h3>Certification</h3>
          <p>At Uniclef, we take your musical education seriously. Earn certifications that validate your skills 
            and knowledge. These credentials are recognized in the industry, opening up doors to exciting 
            opportunities in the world of music.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-users fa-4x mr-4"></i>
          <hr>
          <h3>Collaboration</h3>
          <p>Join a community of music enthusiasts and aspiring artists. Collaborate with fellow learners and instructors 
            to create amazing music projects. Build connections, share ideas, and make music that resonates with the world. 
            Your creative journey starts here.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}