{% extends 'base.html' %}

{% load humanize %}

{% block title %} | {{ course.title }} {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ course.title }}</h1>
          <p class="lead">
            <i class="fas fa-info"></i> {{ course.difficulty }} {{ course.duration }} Weeks</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'courses' %}">Courses</a>
          </li>
          <li class="breadcrumb-item active">{{ course.title }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- course -->
  <section id="course" class="py-4">
    <div class="container">
      <a href="{% url 'courses' %}" class="btn btn-light mb-4">Back To Courses</a>
      <div class="row">
        <div class="col-md-9">
          <!-- Home Main Image -->
          <img src="{{ course.photo.url }}" alt="" class="img-main img-fluid mb-3">

          <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-money-bill-alt"></i> Asking Price:
                  <span class="float-right">${{ course.price | intcomma }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-tasks"></i> Category:
                  <span class="float-right"> <ul>
                    {% for category in course.category.all %}
                        <li>{{ category.category_tag }}</li>
                    {% endfor %}
                </ul>
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bars"></i> Difficulty:
                  <span class="float-right">{{ course.difficulty }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fa fa-hourglass-half" aria-hidden="true"></i> Duration
                  <span class="float-right">{{ course.duration }} Weeks
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-calendar"></i> Course Date:
                  <span class="float-right">{{ course.release_date }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-user"></i> Instructor:
                  <span class="float-right">{{ course.instructor }}
                  </span>
                </li>


              </ul>
            </div>
          </div>

          <!-- Description -->
          <div class="row mb-5">
            <div class="col-md-12">
                {{ course.description }}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3">
            <img class="card-img-top" src="{{ course.instructor.photo.url }}" alt="">
            <div class="card-body">
              <h5 class="card-title">Course Instructor</h5>
              <h6 class="text-secondary">{{ course.instructor }}</h6>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Enroll in this Course</h5>
            </div>
          </div>
          <button id="enroll-button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#enrollModal" data-course-id="{{ course.id }}">Enroll</button>
         <!-- Payment Form -->
          <div class="modal fade" id="enrollModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="enrollModalLabel">Enroll in the course</h5>
                  <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="enroll-form" data-course-id="{{ course.id }}">
                    {% csrf_token %}
                    <div id="card-element">
                      <input type="hidden" name="user_id" value="{{ user.id }}">
                      <input type="hidden" name="course_id" value="{{ course.id }}">
                      <input type="hidden" name="payment_type" value="{{ paymentmethod.payment_type }}">
                      <input type="hidden" name="enrollment_id" value="{{ enrollment.id }}">
                      <input type="hidden" name="date" value="{{ paymenthistory.date }}">
                      <div class="form-group">
                        <label for="card_number" class="col-form-label">Card Number:</label>
                        <input type="text" name="card_number" class="form-control" value="{{ paymentmethod.card_number }}" required>
                      </div>
                    <div class="form-group">
                      <label for="cardholder_name" class="col-form-label">Cardholder Name::</label>
                      <input type="text" name="cardholder_name" class="form-control" value="{{ paymentmethod.cardholder_name }}" required>
                    </div>
                    <div class="form-group">
                      <label for="expiration_month" class="col-form-label">Expiration Month:</label>
                      <input autocomplete="off" type="text" id="expiration_month" class="form-control" maxlength="2" 
                      pattern="[0-9]*" inputmode="numerical" placeholder="MM" required>
                    </div>
                    <div class="form-group">
                      <label for="expiration_year" class="col-form-label">Expiration Year:</label>
                      <input autocomplete="off" type="text" id="expiration_year" class="form-control" maxlength="2" 
                      pattern="[0-9]*" inputmode="numerical" placeholder="YY" required>
                    </div>
                    <div class="form-group">
                      <label for="cvv" class="col-form-label">CVV:</label>
                      <input type="text" name="cvv" class="form-control" required>
                    </div>
                    </div>
                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                    <hr>
                    <input id="enroll-submit" type="submit" value="Enroll in Course" class="btn btn-block btn-secondary">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <script>
            const monthInput = document.querySelector('#expiration_month');
            const yearInput = document.querySelector('#expiration_year');
          
            const focusSibling = function(target, direction, callback) {
              const nextTarget = target[direction];
              nextTarget && nextTarget.focus();
              // if a callback is supplied, we return the sibling target which has focus
              callback && callback(nextTarget);
            }
          
            monthInput.addEventListener('input', (event) => {
              const value = event.target.value.toString();
              // adds 0 to month user input like 9 -> 09
              if (value.length === 1 && value > 1) {
                event.target.value = "0" + value;
              }
              // bounds
              if (value === "00") {
                event.target.value = "01";
              } else if (value > 12) {
                event.target.value = "12";
              }
              // if we have a filled input, jump to the year input
              if (2 <= event.target.value.length) {
                focusSibling(event.target, "nextElementSibling");
              }
              event.stopImmediatePropagation();
            });
          
            yearInput.addEventListener('keydown', (event) => {
              // if the year is empty, jump to the month input
              if (event.key === "Backspace" && event.target.selectionStart === 0) {
                focusSibling(event.target, "previousElementSibling");
                event.stopImmediatePropagation();
              }
            });
          
            const inputMatchesPattern = function(e) {
              const { value, selectionStart, selectionEnd, pattern } = e.target;
              
              const character = String.fromCharCode(e.which);
              const proposedEntry = value.slice(0, selectionStart) + character + value.slice(selectionEnd);
              const match = proposedEntry.match(pattern);
              
              return e.metaKey || // cmd/ctrl
                e.which <= 0 || // arrow keys
                e.which == 8 || // delete key
                (match && match[0] === match.input); // pattern regex isMatch - workaround for passing [0-9]* into RegExp
            };
          
            document.querySelectorAll('input[data-pattern-validate]').forEach(el => el.addEventListener('keypress', e => {
              if (!inputMatchesPattern(e)) {
                return e.preventDefault();
              }
            }));
          </script>
          
        
        <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Request Refund</button>
        </div>
      </div>
    </div>
  </section>
  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Request A Refund</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'refund_request' %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
              <input type="hidden" name="course_id" value="{{ course.id }}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}
            <input type="hidden" name="enrollment_id" value="{{ enrollment.id }}">
            <input type="hidden" name="request_date" value="{{ refund.request_date}}">
            <div class="form-group">
              <label for="property_name" class="col-form-label">Course:</label>
              <input type="text" name="course" class="form-control" value="{{ course.title }}">
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Reason for requesting refund:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script>
    $(document).ready(function () {
        var stripe = Stripe('settings.STRIPE_PUBLISHABLE_KEY');
        var elements = stripe.elements();

        var card = elements.create('card', {
            style: {
                base: {
                    color: '#32325d',
                    fontFamily: 'Arial, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                        color: '#32325d',
                    },
                },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a',
                },
            },
        });

        card.mount('#card-element');

        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

    $('#enroll-submit').click(function (e) {
      e.preventDefault();
      var $form = $('#enroll-form');
      var courseId = $form.data('course-id');
      $('#enroll-submit').prop('disabled', true);
  
      stripe.createToken(card).then(function (result) {
          if (result.error) {
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
              $('#enroll-submit').prop('disabled', false);
          } else {
              var token = result.token.id;
              // Send the token to your server (via AJAX) for processing
              $.ajax({
                  type: 'POST',
                  url: 'enroll_and_pay', 
                  data: {
                      'stripe_token': token,
                      'course_id': courseId,
                      'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                  },
                  success: function (data) {
                      // Handle the response from the server
                      if (data.success) {
                          alert('Payment successful!');
                      } else {
                          alert('Payment failed: ' + data.message);
                      }
                      $('#enroll-submit').prop('disabled', false);
                  },
                  error: function (xhr, status, error) {
                      // Handle any errors
                      alert('An error occurred: ' + error);
                      $('#enroll-submit').prop('disabled', false);
                  }
              });
          }
      });
  });
});
</script>
</body>
</html>