{% extends 'base.html' %}

{% load humanize %}

{% block title %} | {{ course.title }} {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ course.title }}</h1>
          <p class="lead">
            <i class="fas fa-info"></i> {{ course.difficulty }} {{ course.duration }} Weeks</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'courses' %}">Courses</a>
          </li>
          <li class="breadcrumb-item active">{{ course.title }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- course -->
  <section id="course" class="py-4">
    <div class="container">
      <a href="{% url 'courses' %}" class="btn btn-light mb-4">Back To Courses</a>
      <div class="row">
        <div class="col-md-9">
          <!-- Home Main Image -->
          <img src="{{ course.photo.url }}" alt="" class="img-main img-fluid mb-3">

          <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-money-bill-alt"></i> Price:
                  <span class="float-right">${{ course.price | intcomma }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-tasks"></i> Category:
                  <span class="float-right"> <ul>
                    {% for category in course.category.all %}
                        <li>{{ category.category_tag }}</li>
                    {% endfor %}
                </ul>
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bars"></i> Difficulty:
                  <span class="float-right">{{ course.difficulty }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fa fa-hourglass-half" aria-hidden="true"></i> Duration
                  <span class="float-right">{{ course.duration }} Weeks
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-calendar"></i> Course Date:
                  <span class="float-right">{{ course.release_date }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-user"></i> Instructor:
                  <span class="float-right">{{ course.instructor }}
                  </span>
                </li>


              </ul>
            </div>
          </div>

          <!-- Description -->
          <div class="row mb-5">
            <div class="col-md-12">
                {{ course.description }}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3">
            <img class="card-img-top" src="{{ course.instructor.photo.url }}" alt="">
            <div class="card-body">
              <h5 class="card-title">Course Instructor</h5>
              <h6 class="text-secondary">{{ course.instructor }}</h6>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Enroll in this Course</h5>
            </div>
          </div>
          {% if user.is_authenticated %}
          <button id="enroll-button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#enrollModal" data-course-id="{{ course.id }}">Enroll</button>
          {% else %}
          <button id="enroll-button" class="btn btn-primary btn-block btn-lg" onclick="alert('You need to be logged in to enroll in this course.');">Enroll</button>
          {% endif %}
          <!-- Payment Form -->
          <div class="modal fade" id="enrollModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="enrollModalLabel">Enroll in the course</h5>
                  <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'enroll_and_pay' %}" id="enroll-form" method="post" data-course-id="{{ course.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="hidden" name="course_id" value="{{ course.id }}">
                    <div class="form-group">
                      <label for="cardholder_name" class="col-form-label">Cardholder's Name:</label>
                      <input type="text" id="cardholder_name" name="cardholder_name" class="form-control" value="{{ paymentmethod.cardholder_name }}" required>
                    </div>
                    <div id="card-element" class="form-group">
                    <!-- This element should remain empty when the page loads. -->


                    </div>

                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                    <hr>
                    <input id="enroll-submit" type="submit" value="Enroll in Course" class="btn btn-block btn-secondary">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script>
    $(document).ready(function () {
      var stripe = Stripe('pk_test_51O87oaLT8JxniOB8qqa3QINVTLIEj6pFycKXrLFyZ3AgGOAMUgJsKM7y3bMKeuCOyFHbF1Nkohf3XBxMH7CFT4VH00CwbgDFnU');
      var elements = stripe.elements();

        var card = elements.create('card', {
            style: {
                base: {
                    color: '#32325d',
                    fontFamily: 'Arial, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                        color: '#32325d',
                    },
                },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a',
                },
            },
        });

        card.mount('#card-element');

        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

    $('#enroll-form').on('submit', function(e) {
      e.preventDefault();
      var $form = $('#enroll-form');
      var courseId = $form.data('course-id');
      var cardholderName = $('#cardholder_name').val();
      $('#enroll-submit').prop('disabled', true);
  
      stripe.createToken(card).then(function (result) {
          if (result.error) {
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
              $('#enroll-submit').prop('disabled', false);
          } else {
              var token = result.token.id;
              
              // Send the token to your server (via AJAX) for processing
              $.ajax({
                  type: 'POST',
                  url: "{% url 'enroll_and_pay' %}",
                  data: {
                      'stripe_token': token,
                      'course_id': courseId,
                      'cardholder_name': cardholderName,
                      'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                  },
                  success: function (data) {
                      // Handle the response from the server
                      if (data.success) {
                          alert('Payment successful!');
                          window.location.href = "{% url 'dashboard' %}";
          
                      } else {
                          alert('Payment failed: ' + data.message);
                      }
                      $('#enroll-submit').prop('disabled', false);
                  },
                  error: function (xhr, status, error) {
                      // Handle any errors
                      alert('An error occurred: ' + error);
                      $('#enroll-submit').prop('disabled', false);
                  }
              });
          }
      });
  });
});
</script>
          <hr>
          <h5>Refund Policy</h5>
          <p>Refunds are available within 3 days of enrollment.</p> 
        {% if user.is_authenticated %}
          <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Request Refund</button>
        {% else %}
          <button class="btn-primary btn-block btn-lg" onclick="alert('You need to be logged in to request a refund.');">Request Refund</button>
        {% endif %}
        </div>
      </div>
    </div>
  </section>
  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Request A Refund</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'refund_request' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <input type="hidden" name="course_id" value="{{ course.id }}">
            <input type="hidden" name="enrollment_id" value="{{ enrollment.id }}">
            <input type="hidden" name="request_date" value="{{ refund.request_date}}">
            <div class="form-group">
              <label for="title" class="col-form-label">Course:</label>
              <input type="text" name="course" class="form-control" value="{{ course.title }}">
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="reason" class="col-form-label">Reason for requesting refund:</label>
              <textarea name="reason" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

</body>
</html>