{% extends 'base.html' %}

{% load humanize %}

{% block title %} | {{ course.title }} {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ course.title }}</h1>
          <p class="lead">
            <i class="fas fa-info"></i> {{ course.difficulty }} {{ course.duration }} Weeks</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'courses' %}">Courses</a>
          </li>
          <li class="breadcrumb-item active">{{ course.title }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- course -->
  <section id="course" class="py-4">
    <div class="container">
      <a href="{% url 'courses' %}" class="btn btn-light mb-4">Back To Courses</a>
      <div class="row">
        <div class="col-md-9">
          <!-- Home Main Image -->
          <img src="{{ course.photo.url }}" alt="" class="img-main img-fluid mb-3">

          <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-money-bill-alt"></i> Asking Price:
                  <span class="float-right">${{ course.price | intcomma }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-tasks"></i> Category:
                  <span class="float-right"> <ul>
                    {% for category in course.category.all %}
                        <li>{{ category.category_tag }}</li>
                    {% endfor %}
                </ul>
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bars"></i> Difficulty:
                  <span class="float-right">{{ course.difficulty }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fa fa-hourglass-half" aria-hidden="true"></i> Duration
                  <span class="float-right">{{ course.duration }} Weeks
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-calendar"></i> Course Date:
                  <span class="float-right">{{ course.release_date }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-user"></i> Instructor:
                  <span class="float-right">{{ course.instructor }}
                  </span>
                </li>


              </ul>
            </div>
          </div>

          <!-- Description -->
          <div class="row mb-5">
            <div class="col-md-12">
                {{ course.description }}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3">
            <img class="card-img-top" src="{{ course.instructor.photo.url }}" alt="">
            <div class="card-body">
              <h5 class="card-title">Course Instructor</h5>
              <h6 class="text-secondary">{{ course.instructor }}</h6>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Enroll in this Course</h5>
            </div>
          </div>
          <button id="enroll-button" class="btn btn-primary btn-block btn-lg" >Enroll</button>
          <div id="payment-modal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <form method="post" id="payment-form">
                {% csrf_token %}
                {{ payment_form.as_p }}
                <input type="submit" value="Pay">
              </form>
            </div>
          </div>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function() {
                    $('#enroll-button').click(function() {
                        $('#payment-modal').show();
                    });

                    $('.close').click(function() {
                        $('#payment-modal').hide();
                    });
                });
            </script>
        </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}