{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Search Results {% endblock %}

{% block content %}
<section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="Keyword (Guitar, Piano, etc)" value="{{ values.keywords }}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Difficulty</label>
                <input type="text" name="difficulty" class="form-control" placeholder="Difficulty" value="{{ values.difficulty }}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Category</label>
                <select name="category" class="form-control">
                  <option selected="true" disabled="disabled">Category (All)</option>
                  {% for key,value in category_choices.items %}
                      <option value="{{ key }}" 
                      {% if key == values.category %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Duration</label>
                <select name="duration" class="form-control">
                  <option selected="true" disabled="disabled">Duration (Any)</option>
                  {% for key,value in genre_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.duration %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control">
                  <option selected="true" disabled="disabled">Max Price (All)</option>
                  {% for key,value in price_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.price %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'courses' %}">Browse Courses</a>
          </li>
          <li class="breadcrumb-item active"> Search Results</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- courses -->
  <section id="courses" class="py-4">
    <div class="container">
      <div class="row">
        {% if courses %}
          {% for course in courses %}
          <div class="col-md-6 col-lg-4 mb-4">
              <div class="card course-preview">
                <img class="card-img-top" src="{{ course.photo.url }}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">${{ course.price | intcomma }}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="course-heading text-center">
                    <h4 class="text-primary">{{ course.title }}</h4>
                    <p>
                      <i class="fas fa-info text-secondary"></i> {{ course.difficulty }} {{ course.duration }} Weeks {{ course.category }}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-bars"></i> Difficulty: {{ course.difficulty }}</div>
                    <div class="col-6">
                      <i class="fa fa-hourglass-half" aria-hidden="true"></i> Duration: {{ course.duration }} Weeks</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-tasks"></i> Categories:  
                      <ul>
                        {% for category in course.category.all %}
                            <li>{{ category.category_tag }}</li>
                        {% endfor %}
                    </ul></div>
                    <div class="col-6">
                      <i class="fas fa-bars"></i> Difficulty: {{ course.difficulty }}</div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-12">
                      <i class="fas fa-user"></i> {{ course.instructor }}</div>
                  </div>
                  <div class="row text-secondary pb-2">
                    <div class="col-6">
                      <i class="fas fa-clock"></i> {{ course.release_date | timesince }}</div>
                  </div>
                  <hr>
                  <a class="btn btn-primary btn-block" href="{% url 'course' course.id %}">More Info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Courses Available</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% endblock %}